# Import the required libraries
import streamlit as st
from llama_index import VectorStoreIndex, ServiceContext, Document
from llama_index.chat_engine import CondenseQuestionChatEngine
from llama_index.llms import OpenAI
import openai
from llama_index import StorageContext, load_index_from_storage
from PIL import Image

llama-index==0.8.48
openai==0.28.1
Pillow==9.4.0
streamlit==1.27.2
streamlit-autorefresh==1.0.1
streamlit-chat==0.1.1
typing_extensions==4.8.0
